%div
.persistentButton
    = link_to "/", title: "Home" do
        = image_tag "findgoodfoodicon.png", size: "80x80", class: "homePageButton"
    = button_to "Profile Dashboard", {action: "index", controller: "dashboard"}, method: "get"